{{!  User Table List}}
{{#if this}}
    <table id="UserTableList" class="users table table-hover">
        <thead>
        <th>ID</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
				<th>E-Mail</th>
        <th>Membership</th>
				<th>Date Of Issue</th>
				<th>Date Of Last Update</th>
        </thead>
        <tbody>
					{{#each this}}
          <tr>
              <td class="ID">{{id}}</td>
              <td>{{username}}</td>
              <td>{{firstName}}</td>
              <td>{{lastName}}</td>
              <td>{{email}}</td>
              <td>{{membership}}</td>
              <td>{{dateOfIssue.dayOfMonth}}/{{dateOfIssue.monthOfYear}}/{{dateOfIssue.year}}</td>
              <td>{{dateOfLastUpdate.dayOfMonth}}/{{dateOfLastUpdate.monthOfYear}}/{{dateOfLastUpdate.year}}</td>
          </tr>
					{{/each}}
        </tbody>
    </table>
{{else}}
		<table id="UserTableList" class="users table table-hover">
        <thead>
        	<th>No users found.</th>
				</thead>
				<tbody></tbody>
		</table>
{{/if}}